---
import Logo from "./Logo.astro"
---

<section class="mx-auto my-24 max-w-[70ch] text-pretty px-6 text-left text-xl sm:px-20">
    <Logo class='m-auto mb-10 w-28 text-white' />
    <h1
        class="text-5xl font-semibold text-center text-wrap mx-auto mb-10
        tracking-wide"
    >
        Bienvenido a Commander World
    </h1>
    <p>
    La página donde podrás aprender sobre el juego cartas coleccionable de <strong>Magic the Gathering</strong>.
    </p>
    <p> Podrás adentrarte en el mundo de <strong>Commander</strong> 
    el modo de juego <strong>más extendido</strong> a día de hoy dentro de la comunidad. 
    </p>
    
</section>